<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shifts Fee</title>
    
</head>
<body>
    <h1>When are you working?</h1>
    <form action="/fee" method="POST">
          <div>
        <input type="radio" name="shift" value="morning">Morning
    </div>
    <div>
        <input type="radio" name="shift" value="afternoon">Afternoon
    </div>
    <div>
        <input type="radio" name="shift" value="Evening">Evening
    </div>
    </br>
    <div>
        <input type="submit" value="Get price">
    </div>

    </form>
  
</body>
</html>